<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<div xmlns:th="http://www.thymeleaf.org" th:fragment="copy"
     xmlns="http://www.w3.org/1999/xhtml">

    <footer>&copy; <a href="https://www.microfocus.com">Micro Focus</a> 2019.
        Portions &copy; <a href="https://spring.io/">Spring by Pivotal</a>.</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"
         th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</div>



